body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: lemonchiffon;

    font-family: 'Syne Mono', monospace;
}

.clock {
    width: 70vw;
    font-size: 2.4rem;
    border-left: 1px solid darkgray;
    padding-left: 1rem;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
}

#currentTime {
    font-size: 14px;
    white-space: nowrap;
    padding-bottom: .3rem;
    color: gray; /* Adjust margin as needed */
}

#loader p {
    color: gray;
    font-size: .7rem;
}

.progress-bar {
    width: 30vw;
    height: 10px;
    border: 1px solid black;
    background-color: transparent;
}

#progress {
    height: 100%;
    background-color: black;
}

#location {
    color: gray;
}
